@import url('https://fonts.googleapis.com/css2?family=Sora:wght@100..800&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes handwriting {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}

@keyframes blink-caret {
  from, to {
    border-color: transparent;
  }
  50% {
    border-color: black;
  }
}

.handwriting-animation {
  font-family: 'Dancing Script', cursive;
  overflow: hidden;
  white-space: nowrap;
  border-right: 3px solid black;
  animation: 
    handwriting 2s steps(30, end) forwards,
    blink-caret 0.75s step-end 3;
}

.handwriting-animation.complete {
  border-right: none;
}